<h1>Admin::Messages#index</h1>

<p>
  <%= render 'search', route: admin_posts_path %>
</p>

<% @messages.each do |message| %>
<p style=<%= "#{message_weight(message)}" %>>
  <%= message.visitor.fullname %><br>
  <%= truncate(message.content, length:40, separator: '') %><br>
  <%= status_converter(message.status, truthy: 'Read', falsey: 'Not Read') %><br>
  <%= message.created_at %><br>
</p>
<p>
    <%= link_to 'Delete', admin_message_path(message), method: :delete, data: {confirm: 'Are you sure?'} %>
    <%= link_to 'Show', admin_message_path(message) %>
</p>
<p><%= if_message_read(message) %>
</p>
<hr>
<% end %>

<% paginate @messages %>
